<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	@*レイザー→htmlの中にc#のコードを埋め込む。(viewエンジン)
	＠～サーバ債を出実行クライアントに作成したhtmlが返される*@
	<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
	<div class="container">
		@*ログインしているかどうか→*@
		@*管理画面へのリンクは共通画面へ*@
		@if (Request.IsAuthenticated)
		{
			@Html.ActionLink("ログアウト","SignOut",new { Controller = "Login" });

			if (User.IsInRole("Administrators"))
			{
				<span>|</span>
				@Html.ActionLink("ユーザー管理", "Index", new { Controller = "Users" });
			}
		}
	</div>
    @*container左右に適切な余白*@
	<div class="container">
        @RenderBody()
    </div>
</body>
</html>
